##### CORE #####

# Annotation dir  (Too big)
Core/Annotation

# Downloaded images dir (Too big)
Core/Images

# Image DB (Too big)
Core/ImageNet.db

# Image download urls (Too big)
Core/fall11_urls.txt

# Python compiled files
Core/__pycache__
Core/*.pyc
Core/venv

# Intellij Settings
Core/.idea

##### WEB SERVICE #####

# node_modules
Web-Service/node_modules

# js output dir
Web-Service/dist

##### IOS APP #####

